<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>ATM</title>
</head>
</head>
<body>
<header class="primary-header container group">
    <section class="container">
        <h1 class="logo">
            <a href="/"> ATM </a>
        </h1>

        <h1 class="logo-bill">
            <a href="/form"> Add </a>
        </h1>

        <h1 class="logo-bill">
            <a href="/stats"> Stats </a>
        </h1>
    </section>
</header>

<section class="row">
    <div class="grid">

        
        <section class="teaser col-1-3">

            <form action="/login" method="post">

                <fieldset>
                    <legend>Login:</legend>
                        <label for="email">Email: <br /> <input type="email" required="required" name="email"></label> <br />
                            
                        <label for="password">Password: <br /> <input type="password" name="password" required="required" size="15" maxlength="30"></label> <br />

                        <br><input class="btn" type="submit" name="submit" value="submit"/> 
                </fieldset>

                </form>

        </section>
       
        </div>   
    </section>


<footer class="primary-footer container group">
    <small>&copy; T&J'S</small>
</footer>
</body>
</html>